In [5]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

In [7]:
response = requests.get('https://api.covid19api.com/all')

In [8]:
data = response.json()

In [9]:
df = pd.DataFrame(data)
df

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-22T00:00:00Z
1,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-23T00:00:00Z
2,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-24T00:00:00Z
3,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-25T00:00:00Z
4,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-26T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...
344269,Zimbabwe,ZW,,,,-19.02,29.15,29,4,2,0,2020-04-24T00:00:00Z
344270,Zimbabwe,ZW,,,,-19.02,29.15,31,4,2,0,2020-04-25T00:00:00Z
344271,Zimbabwe,ZW,,,,-19.02,29.15,31,4,2,0,2020-04-26T00:00:00Z
344272,Zimbabwe,ZW,,,,-19.02,29.15,32,4,5,0,2020-04-27T00:00:00Z
344273,Zimbabwe,ZW,,,,-19.02,29.15,32,4,5,0,2020-04-28T00:00:00Z

In [10]:
df = df.drop(columns = ['CityCode'])

In [11]:
df.shape

(344274, 11)

In [12]:
df['Date'][0].split('T')[0].split('-')

['2020', '01', '22']

In [13]:
df['Year'] = pd.Series()
df['Month'] = pd.Series()

In [14]:
end  = df.shape[0]

for i in range(0, end):
    li = []
    li = df['Date'][i].split('T')[0].split('-')
    df['Year'][i] = int(li[0])
    df['Month'][i] = int(li[1])
    df['Date'][i] = int(li[2])
    df['Active'][i] = df['Confirmed'][i] - df['Deaths'][i] - df['Recovered'][i]

In [18]:
df = df.drop(columns = ['City', 'Province'])

In [35]:
df.head()

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,Year,Month
0,Afghanistan,AF,33.94,67.71,0,0,0,0,22,2020,1
1,Afghanistan,AF,33.94,67.71,0,0,0,0,23,2020,1
2,Afghanistan,AF,33.94,67.71,0,0,0,0,24,2020,1
3,Afghanistan,AF,33.94,67.71,0,0,0,0,25,2020,1
4,Afghanistan,AF,33.94,67.71,0,0,0,0,26,2020,1

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344274 entries, 0 to 344273
Data columns (total 11 columns):
Country        344274 non-null object
CountryCode    344274 non-null object
Lat            344274 non-null object
Lon            344274 non-null object
Confirmed      344274 non-null int64
Deaths         344274 non-null int64
Recovered      344274 non-null int64
Active         344274 non-null int64
Date           344274 non-null object
Year           344274 non-null int32
Month          344274 non-null int32
dtypes: int32(2), int64(4), object(5)
memory usage: 26.3+ MB

In [37]:
df.Year = df.Year.astype('int')
df.Month = df.Month.astype('int')

In [60]:
code = df.CountryCode.unique()
code

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AU', 'AT', 'AZ',
       'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA',
       'BW', 'BR', 'BN', 'BG', 'BF', 'BI', 'KH', 'CM', 'CA', 'CV', 'CF',
       'TD', 'CL', 'CN', 'CO', 'CG', 'CD', 'CR', 'CI', 'HR', 'CU', 'CY',
       'CZ', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE',
       'ET', 'FJ', 'FI', 'FR', 'GA', 'GM', 'GE', 'DE', 'GH', 'GR', 'GD',
       'GT', 'GN', 'GW', 'GY', 'HT', 'VA', 'HN', 'HU', 'IS', 'IN', 'ID',
       'IR', 'IQ', 'IE', 'IL', 'IT', 'JM', 'JP', 'JO', 'KZ', 'KE', 'KR',
       'KW', 'KG', 'LA', 'LV', 'LB', 'LR', 'LY', 'LI', 'LT', 'LU', 'MK',
       'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MR', 'MU', 'MX', 'MD', 'MC',
       'MN', 'ME', 'MA', 'MZ', 'MM', 'NA', 'NP', 'NL', 'NZ', 'NI', 'NE',
       'NG', 'NO', 'OM', 'PK', 'PS', 'PA', 'PG', 'PY', 'PE', 'PH', 'PL',
       'PT', 'QA', 'XK', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC', 'SM', 'ST',
       'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI', 'SO', 'ZA', 'SS',
       'ES', 'LK', 'SD', 'SR', 'SZ', 'SE', 'CH', 'SY', 'TW', 'TZ', 'TH',
       'TL', 'TG', 'TT', 'TN', 'TR', 'UG', 'UA', 'AE', 'GB', 'US', 'UY',
       'UZ', 'VE', 'VN', 'EH', 'YE', 'ZM', 'ZW'], dtype=object)

In [61]:
len(code)

183

In [39]:
data_frame = [*range(0,len(code),1)]     #creating list for storing country wise data 
i = 0
for val in code:
    data_frame[i] = df[df.CountryCode == val]
    i = i+1

In [40]:
type(data_frame[100])

pandas.core.frame.DataFrame

In [41]:
for frame in range(len(data_frame)):
    data_frame[frame] = data_frame[frame].reset_index(drop = True)

In [42]:
data_frame[100]

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,Year,Month
0,Malawi,MW,-13.25,34.3,0,0,0,0,22,2020,1
1,Malawi,MW,-13.25,34.3,0,0,0,0,23,2020,1
2,Malawi,MW,-13.25,34.3,0,0,0,0,24,2020,1
3,Malawi,MW,-13.25,34.3,0,0,0,0,25,2020,1
4,Malawi,MW,-13.25,34.3,0,0,0,0,26,2020,1
...,...,...,...,...,...,...,...,...,...,...,...
93,Malawi,MW,-13.25,34.3,33,3,4,26,24,2020,4
94,Malawi,MW,-13.25,34.3,33,3,4,26,25,2020,4
95,Malawi,MW,-13.25,34.3,34,3,4,27,26,2020,4
96,Malawi,MW,-13.25,34.3,36,3,4,29,27,2020,4
97,Malawi,MW,-13.25,34.3,36,3,5,28,28,2020,4

In [43]:
type(data_frame)

list

In [44]:
for frame in range(len(data_frame)):
    print(frame, code[frame],':', data_frame[frame].shape[0])

0 AF : 98
1 AL : 98
2 DZ : 98
3 AD : 98
4 AO : 98
5 AG : 98
6 AR : 98
7 AM : 98
8 AU : 784
9 AT : 98
10 AZ : 98
11 BS : 98
12 BH : 98
13 BD : 98
14 BB : 98
15 BY : 98
16 BE : 98
17 BZ : 98
18 BJ : 98
19 BT : 98
20 BO : 98
21 BA : 98
22 BW : 98
23 BR : 98
24 BN : 98
25 BG : 98
26 BF : 98
27 BI : 98
28 KH : 98
29 CM : 98
30 CA : 1372
31 CV : 98
32 CF : 98
33 TD : 98
34 CL : 98
35 CN : 3234
36 CO : 98
37 CG : 98
38 CD : 98
39 CR : 98
40 CI : 98
41 HR : 98
42 CU : 98
43 CY : 98
44 CZ : 98
45 DK : 294
46 DJ : 98
47 DM : 98
48 DO : 98
49 EC : 98
50 EG : 98
51 SV : 98
52 GQ : 98
53 ER : 98
54 EE : 98
55 ET : 98
56 FJ : 98
57 FI : 98
58 FR : 1078
59 GA : 98
60 GM : 98
61 GE : 98
62 DE : 98
63 GH : 98
64 GR : 98
65 GD : 98
66 GT : 98
67 GN : 98
68 GW : 98
69 GY : 98
70 HT : 98
71 VA : 98
72 HN : 98
73 HU : 98
74 IS : 98
75 IN : 98
76 ID : 98
77 IR : 98
78 IQ : 98
79 IE : 98
80 IL : 98
81 IT : 98
82 JM : 98
83 JP : 98
84 JO : 98
85 KZ : 98
86 KE : 98
87 KR : 98
88 KW : 98
89 KG : 98
90 LA : 98
91 LV : 98
92 LB : 98
93 LR : 98
94 LY : 98
95 LI : 98
96 LT : 98
97 LU : 98
98 MK : 98
99 MG : 98
100 MW : 98
101 MY : 98
102 MV : 98
103 ML : 98
104 MT : 98
105 MR : 98
106 MU : 98
107 MX : 98
108 MD : 98
109 MC : 98
110 MN : 98
111 ME : 98
112 MA : 98
113 MZ : 98
114 MM : 98
115 NA : 98
116 NP : 98
117 NL : 490
118 NZ : 98
119 NI : 98
120 NE : 98
121 NG : 98
122 NO : 98
123 OM : 98
124 PK : 98
125 PS : 98
126 PA : 98
127 PG : 98
128 PY : 98
129 PE : 98
130 PH : 98
131 PL : 98
132 PT : 98
133 QA : 98
134 XK : 98
135 RO : 98
136 RU : 98
137 RW : 98
138 KN : 98
139 LC : 98
140 VC : 98
141 SM : 98
142 ST : 98
143 SA : 98
144 SN : 98
145 RS : 98
146 SC : 98
147 SL : 98
148 SG : 98
149 SK : 98
150 SI : 98
151 SO : 98
152 ZA : 98
153 SS : 98
154 ES : 98
155 LK : 98
156 SD : 98
157 SR : 98
158 SZ : 98
159 SE : 98
160 CH : 98
161 SY : 98
162 TW : 98
163 TZ : 98
164 TH : 98
165 TL : 98
166 TG : 98
167 TT : 98
168 TN : 98
169 TR : 98
170 UG : 98
171 UA : 98
172 AE : 98
173 GB : 1078
174 US : 318794
175 UY : 98
176 UZ : 98
177 VE : 98
178 VN : 98
179 EH : 98
180 YE : 98
181 ZM : 98
182 ZW : 98

In [45]:
data_frame[174].head()

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,Year,Month
0,United States of America,US,36.56,-85.08,0,0,0,0,22,2020,1
1,United States of America,US,44.45,-116.78,0,0,0,0,22,2020,1
2,United States of America,US,42.39,-96.57,0,0,0,0,22,2020,1
3,United States of America,US,40.13,-122.24,0,0,0,0,22,2020,1
4,United States of America,US,37.94,-93.32,0,0,0,0,22,2020,1

##### Countries containing more than 98 values have data for its cities also, So we have to segregate the data city wise for those countries

### Finding countries with city data

In [46]:
big_index = [] 
for frame in range(0,len(data_frame)):
    if(data_frame[frame].shape[0] > 98):
        big_index.append(frame)

In [47]:
big_index

[8, 30, 35, 45, 58, 117, 173, 174]

In [48]:
big_countries = [*range(0,len(big_index),1)]
big_code = [*range(0,len(big_index),1)]

j = 0
for i in big_index:
    big_countries[j] = data_frame[i]
    big_code[j] = code[i]
    j = j+1

In [49]:
big_code

['AU', 'CA', 'CN', 'DK', 'FR', 'NL', 'GB', 'US']

In [50]:
big_countries[7]

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,Year,Month
0,United States of America,US,36.56,-85.08,0,0,0,0,22,2020,1
1,United States of America,US,44.45,-116.78,0,0,0,0,22,2020,1
2,United States of America,US,42.39,-96.57,0,0,0,0,22,2020,1
3,United States of America,US,40.13,-122.24,0,0,0,0,22,2020,1
4,United States of America,US,37.94,-93.32,0,0,0,0,22,2020,1
...,...,...,...,...,...,...,...,...,...,...,...
318789,United States of America,US,38.78,-97.65,20,2,0,18,28,2020,4
318790,United States of America,US,33.28,-88.09,47,1,0,46,28,2020,4
318791,United States of America,US,33.95,-91.74,755,0,0,755,28,2020,4
318792,United States of America,US,37.09,-95.71,0,0,115936,-115936,28,2020,4
318793,United States of America,US,33.39,-95.67,1,0,0,1,28,2020,4

In [51]:
code = code.tolist()

for i in big_index:
    del data_frame[i]
    del code[i]

In [ ]:
len(code)

In [52]:
import pickle

In [53]:
with open('onlyCountries.data', 'wb') as filehandle:
    # store the data as binary data stream
    pickle.dump(data_frame, filehandle)

In [54]:
with open('onlyCountriesCode.data', 'wb') as filehandle:
    # store the data as binary data stream
    pickle.dump(code, filehandle)

In [55]:
with open('countriesWithCities.data', 'wb') as filehandle:
    # store the data as binary data stream
    pickle.dump(big_countries, filehandle)

In [56]:
with open('countriesWithCitiesCode.data', 'wb') as filehandle:
    # store the data as binary data stream
    pickle.dump(big_code, filehandle)

In [57]:
data_frame[0].iloc[55:75,:]

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,Year,Month
55,Afghanistan,AF,33.94,67.71,22,0,1,21,17,2020,3
56,Afghanistan,AF,33.94,67.71,22,0,1,21,18,2020,3
57,Afghanistan,AF,33.94,67.71,22,0,1,21,19,2020,3
58,Afghanistan,AF,33.94,67.71,24,0,1,23,20,2020,3
59,Afghanistan,AF,33.94,67.71,24,0,1,23,21,2020,3
60,Afghanistan,AF,33.94,67.71,40,1,1,38,22,2020,3
61,Afghanistan,AF,33.94,67.71,40,1,1,38,23,2020,3
62,Afghanistan,AF,33.94,67.71,74,1,1,72,24,2020,3
63,Afghanistan,AF,33.94,67.71,84,2,2,80,25,2020,3
64,Afghanistan,AF,33.94,67.71,94,4,2,88,26,2020,3
65,Afghanistan,AF,33.94,67.71,110,4,2,104,27,2020,3
66,Afghanistan,AF,33.94,67.71,110,4,2,104,28,2020,3
67,Afghanistan,AF,33.94,67.71,120,4,2,114,29,2020,3
68,Afghanistan,AF,33.94,67.71,170,4,2,164,30,2020,3
69,Afghanistan,AF,33.94,67.71,174,4,5,165,31,2020,3
70,Afghanistan,AF,33.94,67.71,237,4,5,228,1,2020,4
71,Afghanistan,AF,33.94,67.71,273,6,10,257,2,2020,4
72,Afghanistan,AF,33.94,67.71,281,6,10,265,3,2020,4
73,Afghanistan,AF,33.94,67.71,299,7,10,282,4,2020,4
74,Afghanistan,AF,33.94,67.71,349,7,15,327,5,2020,4

In [258]:
import chart_studio.plotly as py 
import plotly.graph_objs as go      #importing graphical objects
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

##### download_plotlyjs allows plotly to work in offline mode.
##### init_notebook_mode connects Javascript to our notebook.

In [264]:
plot_data = dict(type = 'chloropleth', lon = df1['Lon'], lat = df1['Lat'], z = df1['TotalConfirmed'])

In [265]:
layout = dict(title = 'Confirmed Cases', geo = dict( showframe = False, projection = {'type':'natural earth'}))

In [266]:
choromap = go.Figure(data = [plot_data], layout= layout)
iplot(choromap)

ValueError:
    Invalid element(s) received for the 'data' property of
        Invalid elements include: [{'type': 'chloropleth', 'lon': 0       67.71
1       20.17
2        1.66
3         1.6
4       17.87
        ...
170     64.59
171    -66.59
172    108.28
173     48.52
174     29.15
Name: Lon, Length: 175, dtype: object, 'lat': 0       33.94
1       41.15
2       28.03
3       42.55
4       -11.2
        ...
170     41.38
171      6.42
172     14.06
173     15.55
174    -19.02
Name: Lat, Length: 175, dtype: object, 'z': 0      1828.0
1       750.0
2      3649.0
3       743.0
4        27.0
        ...
170    1939.0
171     329.0
172     270.0
173       1.0
174      32.0
Name: TotalConfirmed, Length: 175, dtype: float64}]

    The 'data' property is a tuple of trace instances
    that may be specified as:
      - A list or tuple of trace instances
        (e.g. [Scatter(...), Bar(...)])
      - A single trace instance
        (e.g. Scatter(...), Bar(...), etc.)
      - A list or tuple of dicts of string/value properties where:
        - The 'type' property specifies the trace type
            One of: ['area', 'bar', 'barpolar', 'box',
                     'candlestick', 'carpet', 'choropleth',
                     'choroplethmapbox', 'cone', 'contour',
                     'contourcarpet', 'densitymapbox', 'funnel',
                     'funnelarea', 'heatmap', 'heatmapgl',
                     'histogram', 'histogram2d',
                     'histogram2dcontour', 'image', 'indicator',
                     'isosurface', 'mesh3d', 'ohlc', 'parcats',
                     'parcoords', 'pie', 'pointcloud', 'sankey',
                     'scatter', 'scatter3d', 'scattercarpet',
                     'scattergeo', 'scattergl', 'scattermapbox',
                     'scatterpolar', 'scatterpolargl',
                     'scatterternary', 'splom', 'streamtube',
                     'sunburst', 'surface', 'table', 'treemap',
                     'violin', 'volume', 'waterfall']

        - All remaining properties are passed to the constructor of
          the specified trace type

        (e.g. [{'type': 'scatter', ...}, {'type': 'bar, ...}])